extends layout

block content

 h1#add-item-title Add a character
 h4 May the FORCE be with you. 
 a#back-link(href='/dashboard') Back
 <br>
 <br>
 <br>
 <br>
 table.table-hover
  thead
  tbody#avatars-available-list 
  
block scripts
 script(src="/js/addItem.js")