extends layout

block content

 h1#main-title Star Wars Collectibles
 h4 May the FORCE be with you.
 a#add-item-link(href='/addItem') Add characters
 <br>
 <br>
 table.table-hover
  thead
  tbody#avatars-list 

block scripts
 script(src="/js/dashboard.js")
