extends layout

block content
  h1 Login
  form
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', placeholder='Email')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', placeholder='Password')
    button.btn.btn-default(type='submit') Login

block scripts
  script(src="/js/login.js")
